<li class="border-b border-gray-200">
    <div class="group relative flex items-start space-x-3 py-4">

        <div class="flex-shrink-0">
          <span class="inline-flex items-center justify-center h-10 w-10 rounded-lg bg-primary group-hover:bg-primary-dark">
            <ng-icon [name]="ngIconName" size="24" class="text-white"></ng-icon>
          </span>
        </div>

        <div class="min-w-0 flex-1">
            <div>
                <a [routerLink]="routerLink">{{ title }}</a>
            </div>
            <p class="text-sm">{{ description }}</p>
        </div>

        <div class="flex-shrink-0 self-center">
          <ng-icon name="heroChevronRightMini" size="24" class="text-icon group-hover:text-gray-500"></ng-icon>
        </div>

    </div>
</li>
