<app-section-heading>Passwort ändern</app-section-heading>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="grid grid-cols-5 space-y-6">
  <div class="col-span-5 sm:col-span-3">
    <app-shared-input
      [control]="changePasswordForm.controls.password"
      [inputId]="'password'"
      [inputType]="'password'"
    >Passwort</app-shared-input>
  </div>

  <div class="col-span-5 sm:col-span-3">
    <app-shared-input
      [control]="changePasswordForm.controls.passwordConfirm"
      [inputId]="'password-repeat'"
      [inputType]="'password'"
    >Passwort wiederholen</app-shared-input>
  </div>

  <div class="col-span-5 sm:col-span-3">
    <app-shared-button buttonType="submit" [isDisabled]="changePasswordForm.invalid" buttonDesign="primary">
      Speichern
    </app-shared-button>
  </div>
</form>
