<app-page-heading>Neuen Antrag einreichen</app-page-heading>

<app-card>
  <form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">

    <app-card-body>
      <div class="grid gap-y-6">

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 sm:gap-y-0 sm:gap-x-6">
          <app-shared-input [control]="submissionForm.controls.startTime" [inputType]="'datetime-local'">Beginn</app-shared-input>
          <app-shared-input [control]="submissionForm.controls.endTime" [inputType]="'datetime-local'">Ende</app-shared-input>
        </div>

        <app-shared-dropdown [control]="submissionForm.controls.exemptionCategory" [options]="exemptionCategoryDropdownOptions">Befreiungskategorie</app-shared-dropdown>
        <app-shared-input [control]="submissionForm.controls.reason" [inputType]="'text'">Befreiungsgrund</app-shared-input>
        <app-shared-checkbox [control]="submissionForm.controls.appointmentCancelled">Termine im Haus wurden abgesagt</app-shared-checkbox>

      </div>
    </app-card-body>

    <app-card-footer>
      <div class="flex justify-end space-x-2">
        <app-shared-button [buttonDesign]="'secondary'">Entwurf speichern</app-shared-button>
        <app-shared-button [buttonType]="'submit'" [buttonDesign]="'primary'" [isDisabled]="submissionForm.invalid">Einreichen</app-shared-button>
      </div>
    </app-card-footer>

  </form>
</app-card>
