<div class="mx-auto max-w-lg">
  <div class="text-center">

    <ng-icon name="heroMagnifyingGlass" size="48" class="text-icon mx-auto"></ng-icon>
    <h3>Search user</h3>
    <p class="mt-1">Search here for a user to manage.</p>

    <form class="mt-6 flex">
      <app-shared-input
        #searchBar (input)="onInput(searchBar.control.value)"
        [inputType]="'search'"
        [placeholder]="'Enter first name, last name or email'"
        class="w-full bg-white">
      </app-shared-input>
    </form>

  </div>


  <div class="mt-10">

    <ng-container *ngIf="matchingUsers$ | async as matchingUsers" role="list" class="mt-4">

      <ul *ngIf="(matchingUsers.length > 0) && isSearchTermProvided; else noResults" class="max-h-[25rem] divide-y divide-gray-200 border-t border-gray-200">
        <app-user-search-result *ngFor="let user of matchingUsers" [user]="user" ></app-user-search-result>
      </ul>

      <div *ngIf="matchingUsers.length >= 10" class="mt-12 text-center">
        <ng-icon name="heroLightBulb" size="20" strokeWidth="2" class="text-icon mx-auto"></ng-icon>
        <p class="text-sm">
          Hint: Only the first 10 matching users will be loaded.
          If the desired user is not in the list, please provide a more detailed search term
        </p>
      </div>

    </ng-container>

    <ng-template #noResults>
      <p *ngIf="isSearchTermProvided" class="flex flex-wrap justify-center">No users were found.
        <a [routerLink]="'/admin/register'" class="inline-flex align-baseline text-primary font-bold ml-1">
          Create a new one instead
          <ng-icon name="heroArrowLongRightMini" size="24" class="text-primary ml-1"></ng-icon>
        </a>
      </p>
    </ng-template>

  </div>
</div>
