<div [ngClass]="{
'border-blue-400 bg-blue-50' : alertType === 'info',
'border-green-400 bg-green-50' : alertType === 'success',
'border-yellow-400 bg-yellow-50' : alertType === 'warning',
'border-red-400 bg-red-50' : alertType === 'danger'
}" class="border-l-4 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <ng-container [ngSwitch]="alertType">
        <ng-icon *ngSwitchCase="'info'" name="heroInformationCircleMini" size="20" class="text-blue-400"></ng-icon>
        <ng-icon *ngSwitchCase="'success'" name="heroCheckCircleMini" size="20" class="text-green-400"></ng-icon>
        <ng-icon *ngSwitchCase="'warning'" name="heroExclamationTriangleMini" size="20" class="text-orange-400"></ng-icon>
        <ng-icon *ngSwitchCase="'danger'" name="heroExclamationTriangleMini" size="20" class="text-red-400"></ng-icon>
      </ng-container>

    </div>
    <div class="ml-3">
      <p [ngClass]="{
        'text-blue-700' : alertType === 'info',
        'text-green-700 ' : alertType === 'success',
        'text-yellow-700' : alertType === 'warning',
        'text-red-700' : alertType === 'danger'
        }"
        class="text-sm">
        <ng-content></ng-content>
      </p>
    </div>
  </div>
</div>
