<app-card>
  <app-card-header>
    <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">

      <div class="ml-4 mt-4">
        <h3 class="text-base font-semibold leading-6 text-gray-900">Bearbeitungsdetails</h3>
      </div>

      <div class="ml-4 mt-4 flex-shrink-0">

        <app-shared-button>Bearbeiten</app-shared-button>

      </div>
    </div>
  </app-card-header>

  <app-card-body>
    <dl class="divide-y divide-gray-100">
      <div class="pb-6 sm:grid sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-900">Status</dt>
        <app-processing-status-badge [processingStatus]="requestProcessing.processingStatus"></app-processing-status-badge>
      </div>
      <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-900">Bearbeitet von</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ requestProcessing.processor.firstName }} {{ requestProcessing.processor.lastName }}</dd>
      </div>
      <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-900">Kommentar</dt>
        <dd *ngIf="requestProcessing.comment" class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ requestProcessing.comment }}</dd>
      </div>
      <div class="pt-6 sm:grid sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-900">Bearbeitet am</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ requestProcessing.processing_date | date: 'short' }} Uhr</dd>
      </div>
    </dl>

  </app-card-body>
</app-card>
