<div class="flex min-h-full flex-col pt-16 pb-12">
  <main class="mx-auto flex w-full max-w-7xl flex-grow flex-col justify-center px-4 sm:px-6 lg:px-8">
    <div class="flex flex-shrink-0 justify-center">
      <a routerLink="/" class="inline-flex ml-3">
        <img class="h-24 w-auto" src="../../../../assets/images/logo-icp-muenchen.png" alt="Logo der Stiftung ICP München">
      </a>
    </div>
    <div class="pb-16 pt-10">
      <div class="text-center">
        <h4 class="text-primary">404</h4>
        <h1 class="mt-2 tracking-tight">Seite nicht gefunden.</h1>
        <p class="mt-2">Die von dir gesuchte Seite existiert nicht.</p>
        <div class="mt-6">
          <a routerLink="/home" class="font-semibold text-primary hover:text-primary-light">
            Zurück zur Startseite
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer class="mx-auto w-full max-w-7xl flex-shrink-0 px-4 sm:px-6 lg:px-8">
    <nav class="flex justify-center space-x-4">
      <a href="#" class="text-sm text-gray-500 hover:text-gray-600">Support kontaktieren</a>
      <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
      <a href="https://www.icpmuenchen.de/" class="text-sm text-gray-500 hover:text-gray-600">Website des ICP</a>
    </nav>
  </footer>
</div>
