<app-modal>
  <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">

    <h3 class="text-base font-semibold leading-6 text-gray-900 mb-6" id="modal-title">Antrag verwalten</h3>

    <form [formGroup]="requestProcessingForm" class="grid grid-cols-1 gap-y-4">
      <app-shared-dropdown [control]="requestProcessingForm.controls.processingStatus" [options]="processingStatusDropdownOptions">Antragsstatus</app-shared-dropdown>
      <app-shared-input [control]="requestProcessingForm.controls.comment">Kommentar (optional)</app-shared-input>
    </form>

  </div>
  <div class="bg-gray-50 px-4 py-3 flex flex-row-reverse sm:px-6">
    <app-shared-button (click)="onSubmit()" [isDisabled]="requestProcessingForm.invalid" [buttonDesign]="'primary'" class="ml-3">Bestätigen</app-shared-button>
    <app-shared-button (click)="dialogRef.close()" [buttonDesign]="'secondary'">Abbrechen</app-shared-button>
  </div>
</app-modal>
