<div class="mx-auto max-w-lg">
  <div>

    <div class="text-center">
      <ng-icon name="heroUserGroup" size="56" strokeWidth="1" class="text-icon"></ng-icon>
      <h3 class="mt-2">Admin Dashboard</h3>
      <p class="mt-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor </p>
    </div>

    <ul role="list" class="mt-6 border-t border-gray-200">
      <app-admin-dashboard-list-item
        *ngFor="let dashboardListItem of dashboardListItems"
        [title]="dashboardListItem.title"
        [description]="dashboardListItem.description"
        [routerLink]="dashboardListItem.routerLink"
        [ngIconName]="dashboardListItem.ngIconName"
        class="cursor-pointer">
      </app-admin-dashboard-list-item>
    </ul>

  </div>
</div>
