<section class="w-full fixed block lg:hidden inset-x-0 bottom-0 z-10 bg-foreground shadow">
    <div class="flex justify-between py-4">

      <a *ngFor="let navbarButton of navbarButtons" [routerLink]="navbarButton.routerLink" class="w-full justify-center inline-block text-center" routerLinkActive="text-primary">
        <ng-icon [name]="navbarButton.ngIconName" size="24"></ng-icon>
        <span class="block text-xs font-semibold">{{ navbarButton.title }}</span>
      </a>

    </div>
  </section>

