<li class="col-span-1 flex rounded-md shadow-sm">
  <div class="flex w-16 flex-shrink-0 items-center justify-center bg-primary rounded-l-md text-sm font-medium text-white">
    <ng-icon name="heroBuildingOffice2Solid" size="28"></ng-icon>
  </div>
  <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
    <div class="flex-1 truncate px-4 py-2 text-sm">
      <p class="font-medium text-gray-900 hover:text-gray-600">{{ department.name }}</p>
      <p class="text-gray-500">x Mitarbeiter</p>
    </div>
    <div appClickedOutside (clickedOutside)="onClickedOutside()" class="flex-shrink-0 pr-2">
      <button (click)="toggleDropdown()" type="button" class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent bg-white text-gray-400 hover:text-gray-500">
        <span class="sr-only">Open options</span>
        <ng-icon size="24" name="heroEllipsisVertical"></ng-icon>
      </button>

      <div [ngClass]="isDropdownOpen ? 'opacity-100 z-10' : 'opacity-0 -z-10'" class="absolute min-w origin-top-right rounded-md bg-white p-4 shadow-lg ring-2 ring-gray-900/5">
        <div (click)="openEditDepartmentModal(department)" class="grid grid-flow-col auto-cols-max justify-items-start items-center gap-x-2 cursor-pointer">
          <ng-icon name="heroPencil" size="20" class="text-gray-500"></ng-icon>
          <p>Bearbeiten</p>
        </div>
      </div>

    </div>
  </div>


</li>
