<div class="mt-2 px-4 py-8 sm:p-6">
  <app-section-heading class="col-span-6">Allgemeine Profilinformationen bearbeiten</app-section-heading>

  <form *ngIf="currentManagingUser && departmentDropdownSelectOptions" [formGroup]="userEditingForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

      <div class="sm:col-span-3">
        <app-shared-input
          [control]="userEditingForm.controls.firstName"
          [inputId]="'fist-name'"
          [placeholder]="'Max'"
        >Vorname</app-shared-input>
      </div>

      <div class="sm:col-span-3">
        <app-shared-input
          [control]="userEditingForm.controls.lastName"
          [inputId]="'last-name'"
          [placeholder]="'Mustermann'"
        >Nachname</app-shared-input>
      </div>

      <div class="sm:col-span-4">
        <app-shared-input
          (input)="skipUsernameAvailableValidatorIfUsernameDidntChange()"
          [control]="userEditingForm.controls.email"
          [inputId]="'email'"
          [placeholder]="'max.mustermann'"
        >E-Mail</app-shared-input>
      </div>

      <div class="sm:col-span-2">
        <app-shared-dropdown
          [control]="userEditingForm.controls.department"
          [inputId]="'department'"
          [options]="departmentDropdownSelectOptions"
        >Abteilung</app-shared-dropdown>
      </div>

      <div *ngIf="currentManagingApprentice">
        <ng-container *ngIf="socioEduExperts$ | async as socioEduExperts">
          <app-combobox [control]="userEditingForm.controls.socioEduExpert"
                        [defaultValue]="currentManagingApprentice.socioEduExpert"
                        (selectionChange)="onSocioEduExpertSelectionChange($event)"
                        [options]="socioEduExperts"
                        [displayProperties]="['firstName', 'lastName']"
                        [label]="'Fachdienst auswählen'">
          </app-combobox>
        </ng-container>
      </div>

    </div>

    <div class="flex justify-end space-x-2 bg-gray-50 mt-8 -mb-8 sm:-mb-6 -mx-8 sm:-mx-6 px-8 py-3 text-right sm:px-6">
      <app-shared-button [routerLink]="'/admin/search'" [buttonDesign]="'secondary'">Abbrechen</app-shared-button>
      <app-shared-button [buttonType]="'submit'" [isDisabled]="userEditingForm.invalid" [buttonDesign]="'primary'">Speichern</app-shared-button>
    </div>

  </form>

</div>
