<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-20 w-auto" src="assets/images/logo-icp-muenchen.png" alt="Logo der Stiftung ICP München">
    <h2 class="mt-6 text-center">Anmelden</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">

        <div>
          <app-shared-input [control]="loginForm.controls.email">E-Mail</app-shared-input>
        </div>

        <div>
          <app-shared-input [control]="loginForm.controls.password" [inputType]="'password'">Passwort</app-shared-input>
        </div>

        <br>

        <app-shared-button [buttonType]="'submit'" [isDisabled]="loginForm.invalid" class="inline-grid w-full">Anmelden</app-shared-button>

      </form>

    </div>
  </div>

</div>
