<ng-container *ngIf="exemptionRequest$ | async as exemptionRequest">

  <app-page-heading previousPageLink="/exemption-request">Dienstbefreiung von {{ exemptionRequest.applicant.firstName }} {{ exemptionRequest.applicant.lastName }}</app-page-heading>

  <app-card>
    <app-card-header>
      <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">

          <div class="ml-4 mt-4">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Antragsdetails</h3>
          </div>

          <div class="ml-4 mt-4 flex-shrink-0">

            <app-shared-button *ngIf="!isCurrentlyEditing else submitAndCancelButtons" (click)="toggleEditingState()">Bearbeiten</app-shared-button>

            <ng-template #submitAndCancelButtons>
              <app-shared-button (click)="attemptExemptionRequestUpdate()" class="mr-2">Speichern</app-shared-button>
              <app-shared-button [buttonDesign]="'secondary'" (click)="toggleEditingState()">Abbrechen</app-shared-button>
            </ng-template>

          </div>
      </div>
    </app-card-header>

    <app-alert *ngIf="!exemptionRequest.requestProcessing" alertType="info">Der Antrag wurde bisher noch nicht bearbeitet</app-alert>

    <app-card-body>

      <app-request-details-editing-form *ngIf="isCurrentlyEditing else descriptionList" [exemptionRequest]="exemptionRequest"></app-request-details-editing-form>

      <ng-template #descriptionList>
        <app-request-details-description-list [exemptionRequest]="exemptionRequest"></app-request-details-description-list>
      </ng-template>

    </app-card-body>
  </app-card>

  <br>

  <ng-container *ngIf="exemptionRequest.requestProcessing else notYetProcessed">
    <app-request-processing-description-list [requestProcessing]="exemptionRequest.requestProcessing"></app-request-processing-description-list>
  </ng-container>

  <ng-template #notYetProcessed>

    <button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400">
      <ng-icon name="heroDocumentPlus" size="48" class="mx-auto text-gray-400"></ng-icon>
      <span class="mt-2 block text-sm font-semibold text-gray-900">Antrag genehmigen oder ablehnen</span>
    </button>

  </ng-template>

</ng-container>
