<div class="shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
  <table *ngIf="exemptionRequests " class="min-w-full divide-y divide-gray-300">

    <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Antragsteller</th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Beantragt am</th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Befreiungsgrund</th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Befreiungszeitraum</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
        <app-filter-status-table-header [(exemptionRequests)]="exemptionRequests.content"></app-filter-status-table-header>
      </th>
      <th scope="col" class="relative py-3.5 pl-3 pr-4">
        <span class="sr-only">Details</span>
      </th>
    </tr>
    </thead>

    <tbody *ngIf="exemptionRequests?.content!.length > 0; else noExemptionRequests" class="divide-y divide-gray-200 bg-white">
    <tr *ngFor="let exemptionRequest of exemptionRequests?.content">
      <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none">
        {{ exemptionRequest.applicant.firstName }} {{ exemptionRequest.applicant.lastName }}
        <dl class="font-normal lg:hidden">
          <dt class="sr-only">Befreiungsgrund</dt>
          <dd class="mt-1 truncate text-gray-700">{{ exemptionRequest.reason }}</dd>
          <dt class="sr-only sm:hidden">Befreiungszeitraum</dt>
          <dd class="mt-1 text-gray-500 sm:hidden">
            {{ exemptionRequest.startTime | date: 'short' }} - {{ exemptionRequest.endTime | date: 'shortTime' }} Uhr
          </dd>
        </dl>
      </td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{ exemptionRequest.submissionDate | date: 'short' }} Uhr</td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{ exemptionRequest.reason }}</td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">
        {{ exemptionRequest.startTime | date: 'short' }} - {{ exemptionRequest.endTime | date: 'shortTime' }} Uhr
      </td>
      <td class="px-3 py-4 text-sm text-gray-500">
        <app-processing-status-badge *ngIf="exemptionRequest.requestProcessing" [processingStatus]="exemptionRequest.requestProcessing.processingStatus"></app-processing-status-badge>
        <app-processing-status-badge *ngIf="!exemptionRequest.requestProcessing" [processingStatus]="ProcessingStatus.SUBMITTED"></app-processing-status-badge>
      </td>
      <td class="py-4 pl-3 pr-4 text-right text-sm font-medium">
        <a [routerLink]="'../' + exemptionRequest.id + '/details'" class="flex flex-row items-center text-primary hover:text-primary-dark">
          <span  class="hidden sm:block">Details</span>
          <ng-icon name="heroArrowRightSolid" size="24" class="text-primary ml-2"></ng-icon>
        </a>
      </td>
    </tr>
    </tbody>

  </table>

  <app-table-pagination *ngIf="!exemptionRequests?.empty" [page]="exemptionRequests" (pageChange)="pageChange.emit($event)"></app-table-pagination>

  <ng-template #noExemptionRequests>
    <app-alert [alertType]="'info'">Es liegen keine Dienstbefreiungsanträge vor</app-alert>
  </ng-template>

</div>
